{% extends 'base.html.twig' %}

{% block title %}Makaira App Boilerplate{% endblock %}

{% block body %}
    <div class="makaira-app__wrapper">
        <div class="makaira-app__intro">
            <img src="{{ asset('images/makaira-logo.svg') }}" height="130px" alt="Makaira Logo" class="makaira-app__logo"/>
        </div>

        {% if state %}
           <p class="form__state">{{ state }}</p>
        {% endif %}

        <form method="POST" action="{{ path("app_request", app.request.query.all) }}">
            <div>
                {{ component('textinput', { title: "Name", name: "name", required: true }) }}
            </div>

            <div>
                {{ component('textinput', { title: "E-Mail", name: "email", type: "email", required: true }) }}
            </div>

            <div>
                {{ component('textinput', { title: "Link to Data-Feed (e.g. Google-Feed)", name: "feed", placeholder:'https://www.my-website.com/google-feed.csv'}) }}
            </div>

            <div>
                {{ component('textarea', { title: "What Makaira features would you like to use?", name: "message", required: true, description: "Tell us about your requirements.", maxlength: false }) }}
            </div>

            <div>
                {{ component('button', {
                    variant: 'primary',
                    children: 'Submit Request',
                }) }}
            </div>
        </form>

    </div>
{% endblock %}
