{% extends 'base.html.twig' %}

{% block title %}Makaira Story{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/textarea.js') }}" type="text/javascript"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/story.css') }}">
    <link rel="stylesheet" href="{{ asset('css/textarea.css') }}">
    <link rel="stylesheet" href="{{ asset('css/checkbox.css') }}">
{% endblock %}

{% block body %}
    <div class="makaira-app__story">
        <div class="story-item">
            {{  
                component('textarea', {
                    name: 'area_demo',
                    placeholder: 'placeholder',
                    title: 'title',
                    maxlength: 20,
                    disabled: false,
                    value: 'value',
                    description: 'description',
                    error: 'error'
                }) 
            }}
        </div>
        <div class="story-item">
            {{
                component('checkbox', {
                    name: "chk_demo",
                    label: 'This is checkbox'
                })
            }}
        </div >

        <div class="story-item">
            {{ 
                component('button', {
                    variant: 'primary',
                    children: 'Primary',
                    loading: true,
                    disabled: false,
                    icon: 'star',
                }) 
            }}
        </div>
        <div class="story-item">
            {{
                component('button', {
                    variant: 'primary',
                    children: 'Primary Link',
                    loading: false,
                    disabled: false,
                    icon: 'star',
                    href: '/example'
                })
            }}
        </div>
        <div class="story-item">
            {{
                component('button', {
                    variant: 'primary',
                    children: 'Primary disable',
                    loading: true,
                    onClick: '',
                    disabled: true,
                    icon: 'star',
                }) 
            }}
        </div>
        <div class="story-item">
            {{
                component('button', {
                    variant: 'secondary',
                    children: 'Secondary',
                    loading: true,
                    onClick: '',
                    disabled: false,
                    iconPosition: 'left',
                    icon: 'star',
                }) 
            }}
        </div>
        <div class="story-item">
            {{
                component('button', {
                    variant: 'primary-blocker',
                    children: 'Primary blocker',
                    loading: true,
                    onClick: '',
                    disabled: true,
                    icon: 'xmark',
                }) 
            }}
        </div>
        <div class="story-item">
            {{
                component('button', {
                    variant: 'secondary-blocker',
                    children: 'Secondary Blocker',
                    loading: true,
                    onClick: '',
                    disabled: false,
                    icon: 'xmark',
                })
            }}
        </div>
        <div class="story-item">
            <h3 style="color: blue;">Data table with component</h3>
            {{
                component('table', {
                    columns: [
                        {'title' : 'Column 1', 'component' : ''},
                        {'title' : 'Column 2', 'component' : ''},
                        {'title' : 'Column 3', 'component' : ''},
                        {'title' : 'Column 4', 'component' : 'component'},
                    ],
                    rows: [
                        ['row1 - col1', 'row1 - col2', 'row1 - col3', {'component': 'button', 'variant': 'primary', 'children': 'Primary', 'loading': true, 'disabled': false, 'icon': 'star'}],
                        ['row2 - col1', 'row2 - col2', 'row2 - col3', {'component': 'button', 'variant': 'primary', 'children': 'Primary', 'loading': true, 'disabled': false, 'icon': 'star'}],
                        ['row3 - col1', 'row3 - col2', 'row3 - col3', {'component': 'button', 'variant': 'secondary', 'children': 'Click me', 'loading': false, 'disabled': false, 'icon': ''}],
                        ['row4 - col1', 'row4 - col2', 'row4 - col3', {'component': 'textarea', 'name': 'area_demo', 'placeholder': 'placeholder', 'title': 'title',}],
                        ['row5 - col1', 'row5 - col2', ]
                    ],
                    loading: false
                })
            }}
        </div>
        <div class="story-item">
            <h3 style="color: blue;">Data table</h3>
            {{
                component('table', {
                    columns: [
                        {'title' : 'Column 1', 'component' : ''},
                        {'title' : 'Column 2', 'component' : ''},
                        {'title' : 'Column 3', 'component' : ''},
                        {'title' : 'Column 4', 'component' : ''},
                    ],
                    rows: [
                        ['row1 - col1', 'row1 - col2', 'row1 - col3', 'row1 - col4'],
                        ['row2 - col1', 'row2 - col2', 'row2 - col3', 'row2 - col4'],
                        ['row3 - col1', 'row3 - col2', 'row3 - col3', 'row3 - col4'],
                        ['row4 - col1', 'row4 - col2', 'row4 - col3', ],
                        ['row5 - col1', 'row5 - col2', ]
                    ],
                    loading: true
                })
            }}
        </div>
    </div>
{% endblock %}