{% extends 'base.html.twig' %}

{% block title %}Makaira Story{% endblock %}

{% block body %}
    <div class="makaira-app__story">
        <div class="story-section">
            {{ component('heading', { children: 'Page Title', level: 2 }) }}

            <div class="story-item">
                {{ component('page-title', { prefix: '', suffix: ''}) }}
            </div>

            <div class="story-item">
                {{ component('page-title') }}
            </div>
        </div>

        <div class="story-section">
            {{ component('heading', { children: 'Navigation Items', level: 2 }) }}

            <div class="story-item story-item--with-col-grid story-item--with-col-grid--5-column">
                <div class="story-item">
                    {{ component('dashboard-app') }}
                </div>

                <div class="story-item">
                    {{ component('dashboard-app', { text: 'Components', icon: 'toolbox', badge: 'Sale'}) }}
                </div>

                <div class="story-item">
                    {{ component('dashboard-app', { text: 'Bundles', icon: 'box-open-full', badge: ''}) }}
                </div>
            </div>
        </div>

        <div class="story-section">
            {{ component('heading', { children: 'Buttons', level: 2 }) }}

            <div class="story-item story-item--with-col-grid story-item--with-col-grid--3-column">
                <div class="story-item">
                    {{ component('button', {
                        variant: 'primary',
                        children: 'Primary',
                        disabled: false,
                        icon: 'star',
                    }) }}
                </div>

                <div class="story-item">
                    {{ component('button', {
                        variant: 'primary',
                        children: 'External Link',
                        disabled: false,
                        href: 'https://www.example.com',
                        isExternalLink: true,
                    }) }}
                </div>

                <div class="story-item">
                    {{ component('button', {
                        variant: 'primary',
                        children: 'Internal Link',
                        disabled: false,
                        href: 'component_list',
                        isExternalLink: false
                    }) }}
                </div>

                <div class="story-item">
                    {{ component('button', {
                        variant: 'primary',
                        children: 'Primary disable',
                        onClick: '',
                        disabled: true,
                        icon: 'star',
                    }) }}
                </div>

                <div class="story-item">
                    {{ component('button', {
                        variant: 'secondary',
                        children: 'Secondary',
                        onClick: '',
                        disabled: false,
                        icon: 'star',
                    }) }}
                </div>

                <div class="story-item">
                    {{ component('button', {
                        variant: 'primary-blocker',
                        children: 'Primary blocker',
                        onClick: '',
                        disabled: true,
                        icon: 'xmark',
                    }) }}
                </div>

                <div class="story-item">
                    {{ component('button', {
                        variant: 'secondary-blocker',
                        children: 'Secondary Blocker',
                        onClick: '',
                        disabled: false,
                        icon: 'xmark',
                    }) }}
                </div>
            </div>
        </div>

        <div class="story-section">
            {{ component('heading', { children: 'Form Elements', level: 2 }) }}

            <div class="story-item story-item--with-col">
                <div class="story-item__col">
                    {{ component('textarea', {}) }}
                </div>

                <div class="story-item__col">
                    {{ component('textarea', { disabled: true, title: 'Title disabled' }) }}
                </div>

                <div class="story-item__col">
                    {{ component('textarea', { error: 'Textarea error now' }) }}
                </div>
            </div>

            <div class="story-item story-item--with-col-grid story-item--with-col-grid--5-column">
                <div class="story-item">
                    {{ component('select', {}) }}
                </div>

                <div class="story-item">
                    {{ component('select', {title: "Select disabled",disabled: true}) }}
                </div>

                <div class="story-item" style="padding-top: 2.6rem">
                    {{ component('checkbox', {}) }}
                </div>

                <div class="story-item" style="padding-top: 2.6rem">
                    {{ component('checkbox', {
                        name: 'chk_2',
                        disabled: true
                    }) }}
                </div>
            </div>

            <div class="story-item story-item--with-col-grid story-item--with-col-grid--5-column">
                <div class="story-item">
                    {{ component('textinput', {}) }}
                </div>

                <div class="story-item">
                    {{ component('textinput', { title: "Input disabled", disabled: true }) }}
                </div>

                <div class="story-item">
                   {{ component('numberinput', { title: "Number title", placeholder:'I am a number....'}) }}
                </div>

                <div class="story-item">
                   {{ component('numberinput', { title: "Number disabled", placeholder: 'I am a number....', disabled: true }) }}
                </div>
            </div>

            <div class="story-item story-item--with-col-grid story-item--with-col-grid--5-column">
                <div class="story-item">
                    {{ component('radio', {size: 'large'}) }}
                </div>

                <div class="story-item">
                    {{ component('radio', {}) }}
                </div>
            </div>

            <div class="story-item story-item--with-col-grid story-item--with-col-grid--3-column">
                {{ component('range',  { minValue: 4, maxValue: 15, value: 3, title: 'Range with invalid: min, max, val' }) }}
                {{ component('range', { showNumber: false }) }}
                {{ component('range', { maxValue: 15, title: '' }) }}
                {{ component('range', { showNumber: false, title: '' }) }}
            </div>
        </div>

        <div class="story-section">
            {{ component('heading', { children: 'Data Table', level: 2 }) }}

            {{ component('table', {
                columns: [
                    {'title' : 'ID', 'dataIndex' : 'id', width: 100},
                    {'title' : 'Name', 'dataIndex' : 'name', 'width': 250},
                    {'title' : 'Identifier', 'dataIndex' : 'identifier', 'width': 200},
                    {'title' : '', 'dataIndex' : 'componentData', 'width': 200, 'isComponent': true, 'componentData': {component: 'button', variant: 'primary', children: 'Remove' }},
                ],
                data: listData,
                loading: false
            }) }}

            {{component('pagination', {totalPages: 15, currentPage: 1, route: 'app_app'})}}
        </div>

        <div class="story-section" >
            {{ component('heading', { children: 'Tabs', level: 2 }) }}
            {{ component('tabs', { tabs: [
                {'title': 'Text', 'key': 'text', 'selected': true, "content": 'Hello world', "contentType": 'text'},
                {'title': 'Disabled', 'key': 'disabled', "content": 3,  "contentType": 'text', "disabled": true},
                {'title': 'Component', 'key': 'importer', "content": component('button',
                    {
                        variant: 'primary',
                        children: 'Primary',
                        disabled: false,
                        icon: 'star',
                    }), "contentType": 'html'},
                {'title': 'Components', 'key': 'component', "content": [component('radio', {}), "<hr />", component('button',
                    {
                        variant: 'primary',
                        children: 'Submit',
                        disabled: false,
                        icon: 'star',
                    })], "contentType": 'html' },
                {'title': 'HTML', 'key': 'html', "content": "<h2>This is a free html</h2><input type='text' placeholder='tab html content test'/>",  "contentType": 'html'},
            ]} )}}
        </div>

        <div class="story-section">
            {{ component('heading', { children: 'Pagination', level: 2 }) }}

            {{component('pagination', {totalPages: 15, currentPage: 7, route: 'app_app'})}}
        </div>

         <div class="story-section" >
            {{ component('heading', { children: 'Statistic', level: 2 }) }}
            <div style="display: flex; flexWrap: wrap; gap: 30px; margin-bottom: 30px">
                {{ component('statistic', {
                    value: '940',
                    status:"down",
                    title: "Orders",
                    text: "in the last 7 days",
                    size: "small"
                }) }}
                {{ component('statistic', {
                    value: "€ 450.2",
                    status: "up",
                    title: "Conversion fee",
                    text:"in the last 10 days",
                    size: "small"
                }) }}
                {{ component('statistic', {
                    value: "34.45 %",
                    status: "up",
                    type: "secondary",
                    title: "A/B Performance",
                    text: "more revenue",
                    href: '/#abc',
                    size: "small"
                }) }}
            </div>
            <div style="display: flex; flexWrap: wrap; gap: 30px; margin-bottom: 30px">
                {{ component('statistic', {
                    value: '940',
                    status:"down",
                    title: "Orders",
                    text: "in the last 7 days"
                }) }}
                {{ component('statistic', {
                    value: "€ 450.2",
                    status: "up",
                    title: "Conversion fee",
                    text:"in the last 10 days"
                }) }}
                {{ component('statistic', {
                    value: "34.45 %",
                    status: "up",
                    type: "secondary",
                    title: "A/B Performance",
                    text: "more revenue",
                    href: '/#abc'
                }) }}
            </div>
            <div style="display: flex; flexWrap: wrap; gap: 30px">
                {{ component('statistic', {
                    value: '940',
                    status:"down",
                    title: "Orders",
                    text: "in the last 7 days",
                    size: "large"
                }) }}
                {{ component('statistic', {
                    value: "€ 450.2",
                    status: "up",
                    title: "Conversion fee",
                    text:"in the last 10 days",
                    size: "large"
                }) }}
                {{ component('statistic', {
                    value: "34.45 %",
                    status: "up",
                    type: "secondary",
                    title: "A/B Performance",
                    text: "more revenue",
                    href: '/#abc',
                    size: "large"
                }) }}
            </div>

            <div style="margin-bottom: 30px">   
                {{ component('heading', { children: 'Modal Popup', level: 2 }) }}
                <div class="modal-open__demoModal">
                    {{ component('button', {
                        variant: 'primary',
                        children: 'Open popup',
                    }) }}
                </div>
                {{ component('modal', { 
                    title: 'Sample modal', 
                    id: 'demoModal', 
                    content: '<div class="info"><label class="info-label">Description</label><p class="info-content">Some of the Twig functions mentioned in the previous section allow to pass variables to configure their behavior. For example, the form_label function lets you define a custom label to override the one defined in the form</p> </div>' 
                }) }}

                <div class="modal-open__demoModalForm">
                    {{ component('button', {
                        variant: 'primary',
                        children: 'Open popup form',
                    }) }}
                </div>
               {{ component('modal', { 
                        id: 'demoModalForm', 
                        title: 'Sample modal with form', 
                        content: '
                            <form action="/">
                                <div class="info"><label class="info-label">Description</label><p class="info-content">Am Standort Magdeburg erstreckt sich unser Büro auf ca. 400 qm im siebten Stock. Dort sitzen wir (30 Mitarbeiter), die marmalade GmbH (OXID eShop & E-Commerce Plattformen), gemeinsam mit den Kollegen von der webvariants GmbH (Shopware, TYPO3, Symfony) als Töchter der marmalade Group GmbH (Sitz in Heidelberg).</p></div>
                                <div class="info"><label class="info-label">Screenshot</label><p class="info-content"><img src="https://www.marmalade.de/images/m-buero-Magdeburg-2.webp" height="200" /></p></div>
                                <div class="info"><label class="info-label">Pricing</label><p class="info-content">Only $8 per month</p></div>
                                <input type="hidden" name="app_id" required="required" value="123">
                                <div class="modal-footer">${submitBtn}</div>
                            </form>
                        '|replace({ 
                            "${submitBtn}": component('button', {
                                variant: 'secondary-blocker',
                                children: 'Submit',
                            }) 
                        })
                    } )}}
            </div>

            <div style="margin-bottom: 30px">
                <div class="navigation">
                    {{ component('page-title', { children: 'Tabs Bar', prefix: 'You are looking at' }) }}

                    {{ component('tab-bar', { tabs: [
                        {'title': 'Home', href: '/story'},
                        {'title': 'Active', 'selected': true, href: '/story' },
                        {'title': 'Feature', href: '/story' },
                        {'title': 'Contack', href: '/story' },
                        {'title': 'FAQ', href: '/story'},
                    ]} )}}
                </div>
            </div>
        </div>

    </div>
{% endblock %}