{% extends 'base.html.twig' %}

{% block title %}Makaira Story{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/textarea.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/select.js') }}" type="text/javascript"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/story.css') }}">
    <link rel="stylesheet" href="{{ asset('css/buttons.css') }}">
    <link rel="stylesheet" href="{{ asset('css/textarea.css') }}">
    <link rel="stylesheet" href="{{ asset('css/checkbox.css') }}">
    <link rel="stylesheet" href="{{ asset('css/select.css') }}">
    <link rel="stylesheet" href="{{ asset('css/radio.css') }}">
    <link rel="stylesheet" href="{{ asset('css/textinput.css') }}">
{% endblock %}

{% block body %}
    <div class="makaira-app__story">
        <div class="story-item">
            {{  
                component('textarea', {}) 
            }}
        </div>
         <div class="story-item">
            {{  
                component('textarea', { disabled: true, title: 'Title disabled' }) 
            }}
        </div>
            <div class="story-item">
            {{  
                component('textarea', { error: 'Textarea error now' }) 
            }}
        </div>
        <div class="story-item">
            {{
                component('checkbox', {})
            }}
        </div >
        <div class="story-item">
            {{
                component('checkbox', {
                    name: 'chk_2',
                    disabled: true
                })
            }}
        </div >
        <div class="story-item">
            {{
                component('select', {})
            }}
        </div >
          <div class="story-item">
            {{
                component('select', {title: "Select disabled",disabled: true})
            }}
        </div >
        <div class="story-item">
            {{ 
                component('button', {
                    variant: 'primary',
                    children: 'Primary',
                    loading: true,
                    disabled: false,
                    icon: 'star',
                }) 
            }}
        </div>
        <div class="story-item">
            {{
                component('button', {
                    variant: 'primary',
                    children: 'Primary Link',
                    loading: false,
                    disabled: false,
                    icon: 'star',
                    href: '/example'
                })
            }}
        </div>
        <div class="story-item">
            {{
                component('button', {
                    variant: 'primary',
                    children: 'Primary disable',
                    loading: true,
                    onClick: '',
                    disabled: true,
                    icon: 'star',
                }) 
            }}
        </div>
        <div class="story-item">
            {{
                component('button', {
                    variant: 'secondary',
                    children: 'Secondary',
                    loading: true,
                    onClick: '',
                    disabled: false,
                    iconPosition: 'left',
                    icon: 'star',
                }) 
            }}
        </div>
        <div class="story-item">
            {{
                component('button', {
                    variant: 'primary-blocker',
                    children: 'Primary blocker',
                    loading: true,
                    onClick: '',
                    disabled: true,
                    icon: 'xmark',
                }) 
            }}
        </div>
        <div class="story-item">
            {{
                component('button', {
                    variant: 'secondary-blocker',
                    children: 'Secondary Blocker',
                    loading: true,
                    onClick: '',
                    disabled: false,
                    icon: 'xmark',
                })
            }}
        </div>
        <div class="story-item">
            {{
                component('radio', {})
            }}
        </div>
        <div class="story-item">
            {{
                component('textinput', {})
            }}
        </div>
        <div class="story-item">
            {{
                component('textinput', { title: "Input disabled", disabled: true })
            }}
        </div>
    </div>
{% endblock %}
