{% extends 'base.html.twig' %}

{% block title %}Makaira Story{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/story.css') }}">
{% endblock %}

{% block body %}
    <div class="makaira-app__story">
        <div class="story-item">
            {{  
                component('textarea', {}) 
            }}
        </div>
         <div class="story-item">
            {{  
                component('textarea', { disabled: true, title: 'Title disabled' }) 
            }}
        </div>
            <div class="story-item">
            {{  
                component('textarea', { error: 'Textarea error now' }) 
            }}
        </div>
        <div class="story-item">
            {{
                component('checkbox', {})
            }}
        </div >
        <div class="story-item">
            {{
                component('checkbox', {
                    name: 'chk_2',
                    disabled: true
                })
            }}
        </div >
        <div class="story-item">
            {{
                component('select', {})
            }}
        </div >
          <div class="story-item">
            {{
                component('select', {title: "Select disabled",disabled: true})
            }}
        </div >
        <div class="story-item">
            {{ 
                component('button', {
                    variant: 'primary',
                    children: 'Primary',
                    loading: true,
                    disabled: false,
                    icon: 'star',
                }) 
            }}
        </div>
        <div class="story-item">
            {{
                component('button', {
                    variant: 'primary',
                    children: 'Primary Link',
                    loading: false,
                    disabled: false,
                    icon: 'star',
                    href: '/example'
                })
            }}
        </div>
        <div class="story-item">
            {{
                component('button', {
                    variant: 'primary',
                    children: 'Primary disable',
                    loading: true,
                    onClick: '',
                    disabled: true,
                    icon: 'star',
                }) 
            }}
        </div>
        <div class="story-item">
            {{
                component('button', {
                    variant: 'secondary',
                    children: 'Secondary',
                    loading: true,
                    onClick: '',
                    disabled: false,
                    iconPosition: 'left',
                    icon: 'star',
                }) 
            }}
        </div>
        <div class="story-item">
            {{
                component('button', {
                    variant: 'primary-blocker',
                    children: 'Primary blocker',
                    loading: true,
                    onClick: '',
                    disabled: true,
                    icon: 'xmark',
                }) 
            }}
        </div>
        <div class="story-item">
            {{
                component('button', {
                    variant: 'secondary-blocker',
                    children: 'Secondary Blocker',
                    loading: true,
                    onClick: '',
                    disabled: false,
                    icon: 'xmark',
                })
            }}
        </div>
        <div class="story-item story-item--with-col">
            <div class="story-item__col">
                {{ component('radio', {}) }}
            </div>
             <div class="story-item__col">
                {{ component('radio', {size: 'large'}) }}
            </div>
        </div>
        <div class="story-item">
            {{
                component('textinput', {})
            }}
        </div>
        <div class="story-item">
            {{
                component('textinput', { title: "Input disabled", disabled: true })
            }}
        </div>
        <div class="story-item">
            {{ component('page-title', { prefix: '', suffix: ''}) }}
        </div>
        <div class="story-item">
              {{ component('page-title')}}
        </div>

        <div class="story-item story-item--with-col">
            <div class="story-item__col">
                {{ component('heading', {}) }}
            </div>
             <div class="story-item__col">
                {{ component('heading', {children: 'Page heading h4',level: 4}) }}
            </div>
        </div>
    </div>
{% endblock %}