{% extends 'base.html.twig' %}

{% block title %}Makaira Story{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/textarea.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/select.js') }}" type="text/javascript"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/story.css') }}">
    <link rel="stylesheet" href="{{ asset('css/buttons.css') }}">
    <link rel="stylesheet" href="{{ asset('css/textarea.css') }}">
    <link rel="stylesheet" href="{{ asset('css/checkbox.css') }}">
    <link rel="stylesheet" href="{{ asset('css/select.css') }}">
    <link rel="stylesheet" href="{{ asset('css/radio.css') }}">
{% endblock %}

{% block body %}
    <div class="makaira-app__story">
        <div class="story-item">
            {{  
                component('textarea', {
                    name: 'area_demo',
                    placeholder: 'placeholder',
                    title: 'title',
                    maxlength: 20,
                    disabled: false,
                    value: 'value',
                    description: 'description',
                    error: 'error'
                }) 
            }}
        </div>
        <div class="story-item">
            {{
                component('checkbox', {
                    name: "chk_demo",
                    label: 'This is checkbox'
                })
            }}
        </div >
        <div class="story-item">
            {{
                component('select', {})
            }}
        </div >
        <div class="story-item">
            {{ 
                component('button', {
                    variant: 'primary',
                    children: 'Primary',
                    loading: true,
                    disabled: false,
                    icon: 'star',
                }) 
            }}
        </div>
        <div class="story-item">
            {{
                component('button', {
                    variant: 'primary',
                    children: 'Primary Link',
                    loading: false,
                    disabled: false,
                    icon: 'star',
                    href: '/example'
                })
            }}
        </div>
        <div class="story-item">
            {{
                component('button', {
                    variant: 'primary',
                    children: 'Primary disable',
                    loading: true,
                    onClick: '',
                    disabled: true,
                    icon: 'star',
                }) 
            }}
        </div>
        <div class="story-item">
            {{
                component('button', {
                    variant: 'secondary',
                    children: 'Secondary',
                    loading: true,
                    onClick: '',
                    disabled: false,
                    iconPosition: 'left',
                    icon: 'star',
                }) 
            }}
        </div>
        <div class="story-item">
            {{
                component('button', {
                    variant: 'primary-blocker',
                    children: 'Primary blocker',
                    loading: true,
                    onClick: '',
                    disabled: true,
                    icon: 'xmark',
                }) 
            }}
        </div>
        <div class="story-item">
            {{
                component('button', {
                    variant: 'secondary-blocker',
                    children: 'Secondary Blocker',
                    loading: true,
                    onClick: '',
                    disabled: false,
                    icon: 'xmark',
                })
            }}
        </div>
        <div class="story-item">
            {{
                component('radio', {})
            }}
        </div>
    </div>
{% endblock %}
