{% if this.children != '' %}

    {% if this.href == '' %}
        <button class="{{buttonClasses}}" type="submit" {{this.disabled ? 'disabled' : ''}}>
    {% else %}
        <a href="{{ path('app_example', app.request.query.all) }}" class="{{buttonClasses}}" {{this.disabled ? 'disabled' : ''}}>
    {% endif %}

        {% if this.loading %}
        <span class="spinner spinner--small icon icon--spinner">
            <svg role="img">
                <use xlink:href="#spinner"></use>
            </svg>
        </span>
        {% endif %} 

        {% if this.icon and this.iconPosition == 'left' %}
        <span class="icon icon--{{this.icon}}">
            <svg
                role="img">
                <use xlink:href="#{{this.icon}}"></use>
            </svg>
        </span>
        {% endif %} 

        <span class="button__text">{{ this.children }}</span>
        
        {% if this.icon and this.iconPosition == 'right' %}
        <span class="icon icon--{{this.icon}}">
            <svg
                role="img">
                <use xlink:href="#{{this.icon}}"></use>
            </svg>
        </span>
        {% endif %} 

    {% if this.href == '' %}
        </button>
    {% else %}
        </a>
    {% endif %}
{% endif %}
