{# templates/components/dashboard-app.html.twig #}
<div class="dashboard-app">
   <a class="dashboard-app__link" href="{{href}}">
        <span class="icon icon--{{icon}}">
            <svg role="img"><use xlink:href="#{{icon}}"></use></svg>
        </span>
        <span class="text--centered text--max-width text text--bravo text--bold text--regular">{{text}}</span>
        {% if badge %}
            <span class="dashboard-app__badge text text--alpha text--bold text--regular">{{badge}}</span>
        {% endif %}
   </a>
</div>