{# templates/components/range.html.twig #}
<div class="custom-range">
    {% if title is not empty %}
        <label class="text--bravo">{{title}}</label> 
    {% endif %}
    <div class="input-wrapper">
        {% if showNumber %}
          {{ component('numberinput', { minValue, maxValue, step, value, title: '' }) }}
        {% endif %}
        <div class="range-input__panel">
            <div class="range-input__bar">
                <input type="range" name="{{name}}" id="range_{{id}}" step="{{step}}" min="0" max="{{maxValue}}" value="{{value}}" oninput="number_{{id}}.value=value" style="background-size: {{(maxValue - value) * 100 / maxValue}}% 100%;"/>
            </div>
            <div class="range-input__indicators"></div>
        </div>
    </div>
</div>