{# table.html.twig #}
<div class="{{wrapperClasses}}">
    {% if loading %}
        <span class="spinner spinner--normal icon icon--spinner"><svg role="img"><use xlink:href="#spinner"></use></svg></span>
    {% endif %}
    <div class="mk-table">
        <div class="mk-table-container">
            <div class="mk-table-content">
                <table class="mk-table">
                    <thead class="mk-table-thead">
                        <tr>
                            {% for column in columns %}
                              {% set columnWidth = "auto;"%}
                              {% if column.width is defined  and column.width != '' %}
                                {% set columnWidth = column.width ~ 'px;' %}
                              {% endif %}
                                <th class="mk-table-cell" style="width: {{columnWidth}}">{{ column.title }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody class="mk-table-tbody">
                        {% for entry in data %}
                            <tr class='mk-table-entry'>
                                {% for column in columns %}
                                    {% if column.isComponent is defined  and column.isComponent %}
                                        <td class="mk-table-cell">
                                        {% if entry[column.dataIndex] is defined %}
                                            {{component(entry[column.dataIndex]["component"], {} | merge(entry[column.dataIndex])) }}
                                        {% else %}
                                            - 
                                        {% endif %}
                                        </td>
                                    {% else %}
                                        <td  class="mk-table-cell">{{ entry[column.dataIndex] }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
