{# templates/components/textinput.html.twig #}
<div class="text-input__wrapper {% if disabled %} text-input__disabled {% endif %}">
    {% if customLabel is defined and customLabel is not empty %}
        <label class="text-input__label">{{ customLabel | raw }}</label>
    {% elseif title is defined and title is not empty %}
        <label class="text-input__label">{{title}}</label> 
    {% endif %}
    <div class="text-input__input-panel">
        {% if customInput is defined and customInput is not empty %}
            {{ customInput | raw }}
        {% else %}
            <input class="text-input__input" 
                placeholder="{{ placeholder }}" 
                type="{{ type }}"
                name="{{ name }}"
                value="{{ value }}"
                {% if required == true %} required {% endif %}
                {% if disabled == true %} disabled {% endif %}
            />
        {% endif %}
    </div>
</div>    